<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
  </settings>

  <sqlMaps>
    <sqlMap resource="Maps/Car.xml"/>
    <sqlMap resource="Maps/UserInfo.xml"/>

    <sqlMap resource="Maps/TaskResult.xml"/>
  </sqlMaps>

</sqlMapConfig>