<?xml version="1.0" encoding="utf-8"?>
<daoConfig  xmlns="http://ibatis.apache.org/dataAccess"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers resource="Configuration\providers.config"/>

  <!--wdtapp-->
  <!--<context id="Sale" default="true">
    <properties resource="Configuration\properties.config"/>
    <database>
      <provider name="MySql"/>
      <dataSource name="Sale" connectionString="${Sale}"/>
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="beecellSale.config"/>
    </daoSessionHandler>
  </context>-->

  <context id="Root" >
    <properties resource="Configuration\properties.config"/>
    <database>
      <!--<provider name="MySql"/>-->
      <provider name="sqlServer2.0"/>
      <dataSource name="its" connectionString="${its}"/>
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="beecellRoot.config"/>
    </daoSessionHandler>
  </context>
 
</daoConfig>
