<?xml version="1.0"?>
<configuration>
  <!--开发库-->
  <!--<add key="Sale" value="server=10.8.210.177;port=3307;database=beecell_sale;user id=root;password=401401401401;pooling= true;charset=utf8" />
  <add key="Root" value="server=10.8.210.177;port=3307;database=beecell_robot_v23;user id=root;password=401401401401;pooling= true;charset=utf8" />-->

  <!--测试库-->
   <!--<add key="Sale" value="server=10.9.210.33;port=3308;database=beecell_sale;user id=bcsalewrite;password=3N1PE5fSNZCfDnAa;pooling= true;charset=utf8" />-->
  <!--<add key="Root" value="server=10.9.210.33;port=3308;database=beecell_robot;user id=bcrobotwrite;password=ucdoFAGGCWODuhh9;pooling= true;charset=utf8" />-->
  <!--<add key="its" value="server=localhost;port=3306;database=its;user id=root;password=mzzyk;pooling= true;charset=utf8" />-->
  
  <!--本地mysql-->
  <!--<add key="its" value="server=localhost;port=3306;database=its;user id=root;password=123456;pooling= true;charset=utf8" />-->

  <add key="its" value="server=202.117.48.158;database=LFA;user id=sa;password=rise2018@;pooling= true" />
</configuration>